@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.about-us {
  background-color: rgb(242, 242, 242);
  padding: 10px;
  color: #333333;
  font-family: Arial, sans-serif;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.about-us .title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 60px; /* Tamaño más grande para el título */
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 20px; /* Margen grande a la izquierda */
  margin-right: 20px; /* Margen a la derecha para centrar el título */
}

.about-us .quote {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 35px;
  line-height: 1.6;
  text-align: left;
  margin-left: 20px; /* Margen grande a la izquierda */
  margin-right: 20px; /* Margen a la derecha para centrar el bloque de cita */
}

.left-side {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.right-side img {
  max-width: 800px;
  height: 400px;
 margin-top: 10px;
  margin-right: 10px; /* Margen a la derecha para centrar la imagen */
}

.btnContacto{
  font-family: 'Roboto Slab', sans-serif;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  border-radius: 0;
  padding: 10px 40px;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
  }

  .title {
    font-size: 30px;
  }

  .about-us {
    padding: 10px;
  
  }

  .right-side img {
    margin: 0 auto;
    width: 300px;
    display: inline-block !important;
  margin-bottom: 20px;

  }
  

} 
@media (min-width: 768px) {

  .about-us-content {
    max-width: 800px;
    display:inline-block
  }

  .left-side, 
  .right-side {
    padding: 10px; 
    display:inline-block
  }

  .title,
  .quote {
    text-align: center;
  }

}
