@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.about-us {
  background-color: rgb(242, 242, 242);
  padding: 10px;
  color: #333333;
  font-family: Arial, sans-serif;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.about-us .title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 60px; /* Tamaño más grande para el título */
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px; /* Margen grande a la izquierda */
  margin-right: 20px; /* Margen a la derecha para centrar el título */
}

.about-us .quote {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  margin-left: 20px; /* Margen grande a la izquierda */
  margin-right: 20px; /* Margen a la derecha para centrar el bloque de cita */
}

.left-side {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.right-side img {
  max-width: auto;
  height: 100%;
  margin-right: 0; /* Margen a la derecha para centrar la imagen */
}

.btnContacto{
  font-family: 'Roboto Slab', sans-serif;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  border-radius: 0;
  padding: 10px 40px;
  font-size: 1rem;
  cursor: pointer;
}
