@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.accordion .title {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 36px; /* Tamaño más grande para el título */
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .accordion .text {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 26px; /* Tamaño más grande para el título */
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .accordionrow {
    width:100% !important;
    margin: 0;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: 'center'!important;
  }
  .catalogue{
    width:100%;
    margin: 0;
    overflow: hidden; 
  }