


/* Card styles */
.card {
  position: relative;
  width: 750px;
  height: 450px;
  overflow: hidden;
  margin-top: 20px;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: #fff; /* Set your desired background color */
}

.card-title {
  font-family: 'Roboto Slab', sans-serif;
  position: absolute;
  left: 10px;
  font-size: 18px;
  z-index: 1;
  top: 0;
  margin-left: 100px;
}

.card-image {
  width: 65%;
  height: 280px;
  transition: transform 0.3s;
  margin-top: 50px;
  margin-left: 70px;
}

.card-description {
  background-color: none;
  color: gray;
  padding: 8px;
  position: absolute;
  bottom: -100%; 
  left: 0;
  width: 100%;
  margin-top: 20px;
  transition: bottom 0.3s;
}

.card-description {
  display: none;
}

.hovered .card-description {
  display: block; 
}
  
.image-raised {
  transform: translateY(-40px);
}

/* Hover effect */
.card.hovered .card-description {
  bottom: 0;
}
@media (max-width: 768px) {
  .card {
    width: 250px;
    height: 250px;
  }
  .card-image {
  width: 100px;
  height: 100px;
  transition: transform 0.3s;
  margin-top: 65px;
}
.card-title{
  margin-left: 70px;
}

}