/* Card styles */
.card {
  position: relative;
  width: 750px;
  height: 450px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  transition: transform 0.3s;
  cursor: pointer;
  /* Set your desired background color */
}

.card-title {
  font-family: 'Roboto Slab', sans-serif;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 20px;
  z-index: 1;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.card-image {
  width: 220px;
  height: 220px;
  transition: transform 0.2s;
  margin-top: 110px;
  margin-left: 80px;
}

.card-description {
  background-color: none;
  color: gray;
  padding: 8px;
  bottom: -100%;
  left: 0;
  width: 100%;
  transition: bottom 0.2s;
  text-align: center; /* Centra horizontalmente */
  position: absolute;
  bottom: 10px; /* Coloca la descripción debajo de la imagen */
}

.card-description {
  display: none;
}

.hovered .card-description {
  display: block;
}

.image-raised {
  transform: translateY(-40px);
}

/* Hover effect */
.card.hovered .card-description {
  bottom: 0;
}

@media (max-width: 800px) {
  .title {
    font-size: 20px; /* Ajusta el tamaño de la fuente */
  }

  .card {
    width: 380px;
    height: 250px;
  }
  .card-image {
    width: 100%;
    height: 150px;
    margin-left: 5%;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .card-title {
    margin-left: 5%;
    font-size: 16px;
    top: -10px;
  }
  .card-description {
    background-color: none;
    color: gray;
    padding: 8px;
    position: bottom;
    bottom: 10px; /* Coloca la descripción debajo de la imagen */
    width: 100%;
    margin-top: -10px;
    transition: bottom 0.2s;
    text-align: center; /* Centra horizontalmente */
  }
}
