


/* Card styles */
.card {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 1px;
  transition: transform 0.3s;
  margin-left: 70px;
  cursor: pointer;
  background-color: #fff; /* Set your desired background color */
}

.card-title {
  font-family: 'Roboto Slab', sans-serif;
  position: absolute;
  left: 10px;
  font-size: 18px;
  text-align: center !important;
  z-index: 1;
  top: 0;
  font-weight: 900
}

.card-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  margin-top: 50px;
  margin-bottom: 5px;
}

.card-description {
  background-color: none;
  color: gray;
  padding: 8px;
  position: absolute;
  bottom: -100%; 
  left: 0;
  font-size: 18px;
  width: 100%;
  margin-top: 0px;
  transition: bottom 0.3s;
}

.card-description {
  display: none;
}

.hovered .card-description {
  display: block; 
}
  
.image-raised {
  transform: translateY(-30px);
}

/* Hover effect */
.card.hovered .card-description {
  bottom: 0;
}
