@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* Resto de estilos CSS previos */

.footer {
  background-color: #fff; /* Fondo blanco */
  height: 40vh; /* Altura aproximada del 40% del alto de la página */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-block {
  width: 30%; /* Primer bloque ocupa el 30% del ancho */
  text-align: center;
}

.logoFooter {
  max-width: 80%;
  height: auto;
}

.links {
  text-decoration: none; /* Elimina el subrayado */
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  width: 28%; /* Segundo bloque ocupa el 23% del ancho */
  
}

.links ul {
  list-style: none;
  padding: 0;
}

.links ul li {
  text-decoration: none; /* Elimina el subrayado */
  margin-bottom: 10px;
  color: black; /* Color de texto negro */
}
.links a {
  text-decoration: none; /* Elimina el subrayado */
  color: black; /* Color de texto negro */
}

.icon-list {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  width: 28%; /* Tercer bloque ocupa el 23% del ancho */
}

.icon-list ul {
  list-style: none;
  padding: 0;
}

.icon-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
  font-size: 16px; /* Tamaño de los íconos */
}


.social-icons .icon {
  font-size: 24px; /* Tamaño de los íconos de redes sociales */
  margin-bottom: 10px;
}
