/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Estilos comunes para el Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: white;
  z-index: 2;
  display: flex;
  justify-content: space-between; /* Cambiamos a space-between para evitar problemas con el botón de redes sociales */
  align-items: center;
  padding: 10px 20px;
  opacity: 1;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Estilos para el logo y su título */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
}

/* Estilos para el título del logo */
.logo-title {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  margin-right: 10px;
  font-weight: 400;
}

/* Estilos para los enlaces sin puntos y en línea horizontal */
.navbar-links {
  font-family: 'Roboto Slab', sans-serif;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-right: 50px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* Estilos para los iconos de redes sociales */
.social-icons {
  display: flex; /* Muestra los iconos de redes sociales en línea */
  align-items: center;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

/* Estilos para el fondo oscuro cuando se hace scroll */
.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s ease;
  opacity: 0.9;
}

/* Estilos para el menú hamburguesa */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.hamburger-menu span {
  background-color: white;
  height: 2px;
  width: 25px;
  margin: 3px 0;
  display: block;
  transition: transform 0.3s ease;
}

.hamburger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -2px);
}

/* Estilos para el menú hamburguesa abierto */
@media (max-width: 800px) {
  .hamburger-menu {
    display: flex;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, background-color 0.3s ease;
  }

  .navbar-links.open {
    max-height: 300px;
    overflow-x: hidden;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-links a {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    width: 100%;
  }

  /* Estilos para los iconos de redes sociales cuando el menú hamburguesa está abierto */
  .social-icons {
    display: none; /* Oculta los iconos de redes sociales en pantallas pequeñas cuando el menú está abierto */
  }
}
