/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* Navbar.css */
/* ... */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: white;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Ajusta el alto del Navbar aquí */
  opacity: 1;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Estilos para el logo y su título */
.logo-container {
  display: flex;
  align-items: center; /* Alinea el título verticalmente al centro */
  margin-left: 20px; /* Aumenta el margen izquierdo del logo */
}

.logoNavbar {
  width: 40px;
  height: auto;
  margin-right: 10px; /* Agrega margen derecho al logo si es necesario */
}

/* Estilos para el título del logo */
.logo-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
  margin-right: 10px; /* Ajusta el margen entre el logo y el título */
}

/* Estilos para los enlaces sin puntos y en línea horizontal */
.navbar-links {
  font-family: 'Roboto Slab', sans-serif;
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 10px; /* Ajusta el margen izquierdo de los enlaces */
  align-items: center; /* Alinea los enlaces verticalmente al centro */
}

.navbar-links li {
  margin-right: 50px; /* Reduzca el margen entre los enlaces */
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem; /* Disminuye el tamaño de la fuente de los enlaces */
}

/* Estilos para los iconos de redes sociales */
.social-icon {
  width: 20px;
  height: 20px;
  margin-left: 20px; /* Aumenta el margen izquierdo del último icono de redes */
}

/* Media query para pantallas pequeñas */
@media (max-width: 800px) {
  /* Estilos para el Navbar en pantallas pequeñas si es necesario */
}

/* Oculta el icono de menú hamburguesa en pantallas grandes */
@media (min-width: 801px) {
  /* Estilos para el Navbar en pantallas grandes si es necesario */
}

/* Estilos para el fondo oscuro cuando se hace scroll */
.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease;
  opacity: 0.9;
}

